.container {
    width: 100%;
    background-color:white;
}

.body_content {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    justify-content: center;
    max-width: 50rem;
    color: var(--font-color-dark)
}