.container {
    max-width: 100%;
    height: var(--nav-height);
    display: flex;
    flex-direction: row;
    background-color:#000000;
    justify-content: space-between;
    align-items: center;
}

.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor:pointer;
    left: 2rem;
}

.logo {
    max-height:calc(var(--nav-height) - 1rem);
    cursor:pointer;
}

.nav_items {
    flex-wrap: wrap;
    padding-right: 1rem;
}

.nav_items h2 {
	/* display: inline;
    margin: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-family:monospace;
    font-size: large; */
}

.nav_items a {
    color: var(--font-color-light);
    text-decoration: none;
    
}

.link {
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu_item h2{
    display: inline;
    margin: 1rem;
    /* text-transform: uppercase; */
    font-family:monospace;
    /* font-size: large; */
}