.container {
    bottom: 0;
    width: 100%;
    /* top: var(--footer-height); */
    justify-content: center;
    text-align: center;
    background-color:darkslategray
}

.container p {
    color: white;
}